[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncio = "*"
logger = "*"
cffi = "*"
setuptools = "*"
cryptography = "*"
pandas = "*"
matplotlib = "*"
scipy = "*"

[dev-packages]
pytest = "*"
pytest-asyncio = "*"
mypy = "*"

[requires]
python_version = "3.12"
